.directory-menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  
  div {
    grid-column: span 3;
    background: red;
  }

  div:nth-child(n + 3) {
    grid-column: span 2;
  }
}
